nav.submenu {
    background-color:rgb(43, 36, 5); color:aliceblue;
    font-size: small;
}
#logopet1 {
    background-color:rgb(235, 195, 19);
}
#foto {
    background-color:rgb(235, 195, 19);
}
.box {
    display:inline;
}

#submenu3 {
    background-color:rgb(235, 195, 19); color:aliceblue;
}

.contactos {
    color: floralwhite;
    background-color: rgb(138, 104, 11);margin:0%;display:block;
}

span #images3 {
    display:inline-block; position:relative;left:2%; top:0% ;right:0% ;bottom:0%;
}

span #textoinfo {
    display:inline-block; position:relative;left:30%; top:0% ;right:0% ;bottom:0%;
}

span #logolado {
    display: inline-block; position:relative;left:50%; top:0% ;right:0% ;bottom:0%;
    }

.textoh2 {
    font-weight: bold;font-size:x-large;font-family: 'Antic Slab', serif;margin:auto;
}



footer {
    color:aliceblue;background-color:rgb(43, 36, 5); font-size: 13px; font-weight: bold;
    font-family: 'Montserrat', Antic Slab, serif; text-align: center; 
}
