nav.submenu {
    background-color:rgb(43, 36, 5); color:aliceblue;
    font-size: small;
}
#logopet1 {
    background-color:rgb(235, 195, 19);
}
#foto {
    background-color:rgb(235, 195, 19);
}
#submenu3 {
    background-color:rgb(235, 195, 19); color:aliceblue;
}


footer {
    color:aliceblue;background-color:orange; font-size: 13px; 
    font-family: 'Antic Slab', serif; text-align: center;
}
